.btn
  border-radius: 0.2rem
  padding: 0.85em 2rem 0.8rem 2rem
  font-family: $font-heading-bold
  text-transform: uppercase
  border: 0.2em solid rgba(black, 0.1)

  &:hover, &:active, &:focus
    border: 0.2em solid rgba(black, 0.2)

  &.btn-primary
    background: $primary

    &:hover
      background: darken($primary, 6%)

  &-logout
    margin-top: 2rem
    margin-bottom: 1rem
