.btn
  border-radius: 0.2rem
  padding: 1.05rem
  font-family: $font-heading
  text-transform: uppercase

  &.btn-primary
    background: $primary
    border: darken($primary, 10%)

    &:hover, &:active, &:focus
      background: darken($primary, 10%)
