@font-face
  font-family: 'FuturaBT-Medium'
  src: url('//cdn.mah.se/css/fonts/1FFAEF_0_0.eot?#iefix') format('embedded-opentype'),url('//cdn.mah.se/css/fonts/1FFAEF_0_0.woff') format('woff'),url('//cdn.mah.se/css/fonts/1FFAEF_0_0.ttf') format('truetype'),url('//cdn.mah.se/css/fonts/1FFAEF_0_0.svg#svgFontName') format('svg')

@font-face
  font-family: 'FuturaBT-Bold'
  src: url('//cdn.mah.se/css/fonts/20ECBC_0_0.eot?#iefix') format('embedded-opentype'),url('//cdn.mah.se/css/fonts/20ECBC_0_0.woff') format('woff'),url('//cdn.mah.se/css/fonts/20ECBC_0_0.ttf') format('truetype'),url('//cdn.mah.se/css/fonts/20ECBC_0_0.svg#svgFontName') format('svg')


body
  font-family: $font-text

h1, h2, h3, h4, h5, h6
  font-family: $font-heading
