.attachments
  padding-left: 0

.attachment
  margin-bottom: 1rem
  padding: 1rem 2rem
  background: rgba(white, 1.0)
  border: 1px solid rgba(black, 0.2)
  list-style-type: none
  width: 50%

  @media (max-width: $sm)
    width: 100%

  .attachment-name
    font-family: $font-heading
    margin-right: 2rem
    vertical-align: middle

  .attachment-remove
    font-weight: bolder
    color: rgba(black, 0.6)
    cursor: pointer
    float: right

    &:hover
      color: black

  &-empty
    padding-left: 1rem
    background: rgba(white, 1.0)
    background: none
    border: none

  i
    font-size: 2rem
