<div class="container">
  <h1>{{ projectCtrl.title }}</h1>
  <div class="well">
    <form action="#">
      <div class="row">
        <div class="col-sm-10">
          <input type="text" name="search" id="search" class="form-control input-search" placeholder="Enter keywords to search">
        </div>
        <div class="col-sm-2">
          <button class="btn btn-default btn-block">Search</button>
        </div>
      </div>
    </form>
  </div>

  <table class="table table-striped" ng-show="projectCtrl.projects.length > 0">
    <thead>
      <th>Title</th>
      <th>Proposal</th>
      <th>Status</th>
      <th>Created</th>
    </thead>
    <tbody>
      <tr ng-repeat="project in projectCtrl.projects">
        <td>
          <a ui-sref="showProject({ id: project.id })">{{ project.title }}</a>
          <span ng-show="projectCtrl.userIsPartOf(project)" class="owner-indicator text-muted small">
            <i class="fa fa-universal-access" aria-hidden="true"></i>
            <span>Your project</span>
          </span>
        </td>
        <td class="link"><a ui-sref="showProposal({ id: project.proposal_id })">link</a></td>
        <td class="project-status">{{ projectCtrl.config.getProjectStatus(project.status) | capitalize}}</td>
        <td>{{ project.created_at }}</td>
      </tr>
    </tbody>
  </table>
  <p class="text-muted" ng-show="projectCtrl.projects.length == 0">
      No projects could be found.
  </p>
</div>
