<!-- Huvudinnehåll -->
<div class="container">
  <h1>Edit proposal</h1>

  <div class="well">
    <form ng-submit="proposalCtrl.update()">
      <div class="form-group">
        <label for="title">Title</label>
        <input type="text" id="title" ng-model="proposalCtrl.proposal.title" class="form-control">
      </div>

      <div class="form-group">
        <label for="category">Category</label>
        <select name="category" id="category" class="form-control">
          <option value="1">Project</option>
          <option value="2">Bachelor</option>
          <option value="3">Master</option>
        </select>
      </div>

      <div class="form-group">
        <label for="usr">Tags</label>
        <tags-input display-property="name" ng-model="proposalCtrl.proposal.tags"></tags-input>
      </div>

      <div class="form-group">
        <label for="comment">Description</label>
        <text-angular ng-model="proposalCtrl.proposal.description"></text-angular>
      </div>

      <div class="form-group">
        <label class="label-attachments" for="attachments">Attachments</label>
        <ul class="attachments">
          <li class="attachment" ng-repeat="file in proposalCtrl.proposal.attachments">
            <span class="attachment-name">
              {{ file.title | limitTo: 25 }} {{ file.title.length > 25 ? '...' : '' }}
            </span>

            <a href="" ng-click="proposalCtrl.deleteOldAttachment($index)"><i class="fa fa-minus-circle fa-2x text-danger pull-right" title="Remove" aria-hidden="true"></i></a>
          </li>

          <li class="attachment" ng-repeat="file in proposalCtrl.newFiles">
            <span class="attachment-name">
              {{ file.name | limitTo: 25 }} {{ file.name.length > 25 ? '...' : '' }}
            </span>

            <a href="" ng-click="proposalCtrl.newFiles.splice($index, 1)"><i class="fa fa-minus-circle fa-2x text-danger pull-right" title="Remove" aria-hidden="true"></i></a>
          </li>

          <p class="attachment attachment-empty text-muted" ng-show="proposalCtrl.proposal.attachments.length == 0">No attachments selected.</p>
        </ul>
        <label class="btn btn-default btn-file">
          Upload file
          <input type="file" ng-files="proposalCtrl.newFiles">
        </label>
      </div>

      <button class="btn btn-primary btn-lg">Save changes</button>
    </form>
  </div>
</div>
