<div class="container">
  <h1>{{ proposalCtrl.title }}</h1>
  <div class="well">
    <form action="#">
      <div class="row">
        <div class="col-sm-10">
          <input type="text" name="search" id="search" class="form-control" placeholder="Enter keywords to search">
        </div>
        <div class="col-sm-2">
          <button class="btn btn-default btn-block">Search</button>
        </div>
      </div>
    </form>
  </div>

  <hr>
  <table class="table table-striped">
    <thead>
      <th>Title</th>
      <th>Author</th>
      <th>Status</th>
      <th>Created</th>
    </thead>
    <tbody>
      <tr ng-repeat="proposal in proposalCtrl.proposals">
        <td>
          <a ui-sref="showProposal({ id: proposal.id })">{{ proposal.title }}</a>
          <span ng-if="proposal.author_id == proposalCtrl.user.id" class="owner-indicator text-muted small">
            <i class="fa fa-universal-access" aria-hidden="true"></i>
            <span>Your proposal</span>
          </span>
        </td>
        <td>
          {{ proposal.author.displayname }}
        </td>
        <td class="project-status">{{ proposalCtrl.config.getProposalStatus(proposal.status) }}</td>
        <td>{{ proposal.created_at }}</td>
      </tr>
      <tr ng-if="proposalCtrl.proposals.length == 0">
        <td class="text-muted" colspan="2">
          No proposals could be found.
        </td>
      </tr>
    </tbody>
  </table>

  <hr>

  <a ui-sref="createProposal" class="btn btn-success">Submit new proposal</a>
</div>
