<div class="container">
  <div class="row">
    <div class="{{ proposalCtrl.user ? 'col-md-8' : 'col-md-12' }}">
      <h1>
        {{ proposalCtrl.proposal.title }}
      </h1>
      <div class="details text-muted">
        <div>
          By
            <code ng-attr-title='{{ proposalCtrl.config.getRole(proposalCtrl.proposal.author.role_id) | capitalize }}'>
              <span ng-class="proposalCtrl.config.getRoleIcon(proposalCtrl.proposal.author.role_id)" aria-hidden="true"></span>
            {{ proposalCtrl.proposal.author.displayname }}</code>
          <i class="fa fa-clock-o" aria-hidden="true"></i>
          Created <code>{{ proposalCtrl.proposal.created_at }}</code>
        </div>
        <span class="proposal-status label label-success">{{ proposalCtrl.config.getProposalStatus(proposalCtrl.proposal.status) | capitalize }}</span>
        <span class="label label-primary">Proposal</span>
        <span ng-repeat="tag in proposalCtrl.proposal.tags">
          <span class="label label-primary" >{{ tag.name }}</span>
        </span>
      </div>

      <hr>
      <h2>Description</h2>
      <div class="well">
        <p ng-bind-html="proposalCtrl.proposal.description">
      </div>
      <p class="text-muted" ng-if="!proposalCtrl.proposal.description">
        No description.
      </p>

      <hr>
      <h2>Attachments</h2>
      <ul class="list-group">
        <a href="{{ attachment.url }}?api_token={{ proposalCtrl.token }}" target="_blank" class="list-group-item" ng-repeat="attachment in proposalCtrl.proposal.attachments | orderBy: 'attachment.created_at'">
          {{ attachment.title }}
          <i class="fa fa-download pull-right" aria-hidden="true"></i>
        </a>

        <!-- If there are no attachments -->
        <p class="text-muted" ng-if="proposalCtrl.proposal.attachments.length == 0">
          There are no attachments for this proposal.
        </p>
      </ul>

      <div class="comments" ng-if="proposalCtrl.isCommentable()">
        <hr>
        <h2>Comments</h2>

        <div class="row" ng-repeat="comment in proposalCtrl.comments">

          <div class="col-md-3">
            <div class="authorbox">
              <span class="username">{{ comment.author.displayname }}</span>

              <div ng-class="proposalCtrl.config.getRoleColor(comment.author.role_id)" class="commentRole text-muted ">
                {{ proposalCtrl.config.getRole(comment.author.role_id) }}
                <span ng-class="proposalCtrl.config.getRoleIcon(comment.author.role_id)" aria-hidden="true"></span>
              </div>

            </div>
          </div>

          <div class="col-md-9">
            <div class="dialogbox">
              <div class="body">
                <span class="tip"></span>
                <div class="message" ng-bind-html="comment.body"></div>
              </div>
              <div class="timestamp text-muted">
                <i class="fa fa-clock-o" aria-hidden="true"></i>
                <small>{{ comment.created_at }}</small>
              </div>
            </div>
          </div>

          <div class="row">
            <div ng-if="!$last" class="col-md-10 col-md-offset-2">
              <hr>
            </div>
          </div>

        </div>

        <p class="text-muted" ng-if="proposalCtrl.comments.length == 0">
          No comments has been posted for this proposal.
        </p>

        <form class="inputbox" ng-submit="proposalCtrl.postComment()">
          <div class="form-group">
            <text-angular ng-model="proposalCtrl.comment.body"></text-angular>
          </div>
          <button class="btn btn-primary">Post comment</button>
        </form>

      </div>
    </div>
    <div class="col-md-4">
      <div ng-if="proposalCtrl.userCanManageProposal()" class="controlpanel">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h4>Manage Proposal</h4>
          </div>
          <div class="panel-body">
            <div ng-show="proposalCtrl.userCanUpdateStatus()">
              <form ng-submit="proposalCtrl.updateStatus()">
                <div class="form-group">
                  <ol class="nya-bs-select" ng-model="proposalCtrl.status">
                    <li nya-bs-option="(id, status) in proposalCtrl.getAvailableStatuses()" data-value="id">
                      <a>{{ status | capitalize }}</a>
                    </li>
                  </ol>
                </div>
                <button class="btn btn-success btn-block" ng-class="{disabled: proposalCtrl.status == proposalCtrl.proposal.status}">Update Status</button>
              </form>
            </div>
            <div ng-show="proposalCtrl.userCanEditProposal()">
              <hr ng-hide="!proposalCtrl.userCanUpdateStatus()">
              <a class="btn btn-warning btn-block" ui-sref="editProposal({ id: proposalCtrl.proposal.id })">
                Edit Proposal
              </a>
            </div>
            <div ng-show="proposalCtrl.userCanCreateProject()">
              <hr>
              <a class="btn btn-info btn-block" ui-sref="createProject({ id: proposalCtrl.proposal.id })">
                Create project
              </a>
            </div>
          </div>
        </div>
      </div>
      <div ng-show="proposalCtrl.studentCanApply()" class="controlpanel" ng-cloak>
        <div class="panel panel-default">
          <div class="panel-heading">
            <h4>Apply</h4>
          </div>
          <div class="panel-body">
            <form ng-submit="proposalCtrl.sendApplication()">
              <div class="form-group">
                <label for="search">Add members</label>
                <div class="row member-select" ng-repeat="index in proposalCtrl.memberCount()">
                  <div ng-class="proposalCtrl.memberSelected($index) ? 'col-md-10 col-sm-11 col-xs-10 member-selected' : 'col-md-12 col-sm-12 col-xs-12'">
                    <ol class="nya-bs-select" ng-model="proposalCtrl.team[$index]" data-live-search="true" title="Search...">
                      <li nya-bs-option="student in proposalCtrl.getStudents($index)" data-value="student.id">
                        <a>{{ student.displayname }} <a class="hidden">{{ student.username }}</a></a>
                      </li>
                    </ol>
                  </div>
                  <div class="col-md-2 col-sm-1 col-xs-2 icon-remove" ng-show="proposalCtrl.memberSelected($index)">
                    <i class="fa fa-minus-circle fa-2x text-danger" ng-click="proposalCtrl.removeMember($index)" title="Remove" aria-hidden="true"></i>
                  </div>
                </div>
              </div>
              <button class="btn btn-success btn-block">Apply</button>
            </form>
          </div>
        </div>
      </div>
      <div ng-show="proposalCtrl.userHasApplied()" class="controlpanel" ng-cloak>
        <div class="panel panel-default">
          <div class="panel-heading">
            <h4>Application</h4>
          </div>
          <div class="panel-body">
            <label for="search">Team members</label>
            <ul class="list-group">
              <li class="list-group-item list-group-item-warning" ng-repeat="member in proposalCtrl.team.users | orderBy: proposalCtrl.orderByMe">
                <span ng-if="member.id == proposalCtrl.user.id">
                  <i class="fa fa-universal-access" aria-hidden="true"></i>
                </span>
                {{ member.displayname }}
                <i class="fa fa-graduation-cap pull-right" aria-hidden="true"></i>
              </li>
            </ul>
            <div class="text-muted pull-right">
              <i class="fa fa-clock-o" aria-hidden="true"></i>
              <small>Applied at {{ proposalCtrl.team.created_at }}</small>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
