<!-- Huvudinnehåll -->

<div class="container">
  <h1>{{ accountCtrl.me.displayname }}</h1>
  <p>
    <span class="label label-danger">
      <ng-pluralize count="accountCtrl.me.teams.length"
                    when="{'0': 'No applications',
                      'one': '{} application',
                      'other': '{} applications'}">
      </ng-pluralize>
    </span>&nbsp;
    <span class="label label-primary">
      <ng-pluralize count="accountCtrl.me.proposals.length"
                    when="{'0': 'No proposals',
                      'one': '{} proposal',
                      'other': '{} proposals'}">
      </ng-pluralize>
    </span>&nbsp;
    <span class="label label-success">
      <ng-pluralize count="accountCtrl.me.projects.length"
                      when="{'0': 'No projects',
                        'one': '{} project',
                        'other': '{} projects'}">
      </ng-pluralize>
    </span>
  </p>
  <div class="well">
    <div class="row">

      <div class="col-md-10">
        <div>
          <b>Username: </b>
          {{ accountCtrl.me.username }}
        </div>
        <div>
          <b>Role: </b>
          {{ accountCtrl.me.role.name | capitalize }}
        </div>
      </div>

      <div class="col-md-2">
        <form ng-submit="accountCtrl.logout()">
          <button class="btn btn-danger pull-right">Log out</button>
        </form>
      </div>

    </div>
  </div>

  <h3>Your Applications</h2>
  <table class="table table-striped" ng-show="accountCtrl.me.teams.length > 0">
    <thead>
      <th>Title</th>
      <th class="text-right">Applied</th>
    </thead>
    <tbody>
      <tr ng-repeat="team in accountCtrl.me.teams">
        <td><a ui-sref="showProposal({ id: team.proposal.id })">{{ team.proposal.title }}</a></td>
        <td class="text-nowrap text-right">{{ team.created_at }}</td>
      </tr>
    </tbody>
  </table>
  <p class="text-muted" ng-show="accountCtrl.me.teams.length == 0">
      Your have no applications.
  </p>

  <hr>

  <h3>Your Proposals</h2>
  <table class="table table-striped" ng-show="accountCtrl.me.proposals.length > 0">
    <thead>
      <th>Title</th>
      <th class="text-right">Status</th>
      <th class="text-right">Created</th>
    </thead>
    <tbody>
      <tr ng-repeat="proposal in accountCtrl.me.proposals">
        <td><a ui-sref="showProposal({ id: proposal.id })">{{ proposal.title }}</a></td>
        <td class="proposal-status text-nowrap text-right">{{ accountCtrl.config.getProposalStatus(proposal.status) | capitalize}}</td>
        <td class="text-nowrap text-right">{{ proposal.created_at }}</td>
      </tr>
    </tbody>
  </table>
  <p class="text-muted" ng-show="accountCtrl.me.proposals.length == 0">
      Your have no proposals.
  </p>

  <hr>

  <h3>Your Projects</h2>
  <table class="table table-striped" ng-show="accountCtrl.me.projects.length > 0">
    <thead>
      <th>Title</th>
      <th class="text-nowrap text-right">Your Role</th>
      <th class="text-right">Status</th>
      <th class="text-right">Created</th>
    </thead>
    <tbody>
      <tr ng-repeat="project in accountCtrl.me.projects">
        <td><a ui-sref="showProject({ id: project.id })">{{ project.title }}</a></td>
        <td class="project-role text-right">{{ accountCtrl.config.getProjectRole(project.pivot.project_role_id) | capitalize }}</td>
        <td class="project-status text-nowrap text-right">{{ accountCtrl.config.getProjectStatus(project.status) | capitalize }}</td>
        <td class="text-nowrap text-right">{{ project.created_at }}</td>
      </tr>
    </tbody>
  </table>
  <p class="text-muted" ng-show="accountCtrl.me.projects.length == 0">
      Your have no projects.
  </p>

</div>





