<!-- Huvudinnehåll -->

<div class="container">
  <div class="row">
    <div class="col-md-6 col-sm-9 col-xs-12">
      <h1>{{ accountCtrl.me.displayname }}</h1>
    </div>
    <div class="col-md-2 col-md-offset-4 col-sm-offset-0 col-sm-3 hidden-xs text-right">
      <form ng-submit="accountCtrl.logout()"><button class="btn btn-danger btn-logout">Log out</button></form>
    </div>
  </div>
  <p>
    <span class="label label-default">{{ accountCtrl.me.username }}</span>
    <code ng-attr-title='{{ accountCtrl.config.getRole(accountCtrl.me.role_id) | capitalize }}'>
              <span ng-class="accountCtrl.config.getRoleIcon(accountCtrl.me.role_id)" aria-hidden="true"></span>
            {{ accountCtrl.config.getRole(accountCtrl.me.role_id) }}</code>
    <span class="label label-danger" ng-show="accountCtrl.isStudent()"><ng-pluralize count="accountCtrl.me.teams.length"
                    when="{'0': 'NO APPLICATIONS',
                      'one': '{} APPLICATION',
                      'other': '{} APPLICATIONS'}"></ng-pluralize></span>
    <span class="label label-primary"><ng-pluralize count="accountCtrl.me.proposals.length"
                    when="{'0': 'NO PROPOSALS',
                      'one': '{} PROPOSAL',
                      'other': '{} PROPOSALS'}"></ng-pluralize></span>
    <span class="label label-success"><ng-pluralize count="accountCtrl.me.projects.length"
                      when="{'0': 'NO PROJECTS',
                        'one': '{} PROJECT',
                        'other': '{} PROJECTS'}"></ng-pluralize></span>
  </p>

  <div ng-show="accountCtrl.isStudent()">
    <h3>Your Applications</h3>
    <table class="table table-striped" ng-show="accountCtrl.me.teams.length > 0">
      <thead>
        <th>Title</th>
        <th class="text-right">Applied</th>
      </thead>
      <tbody>
        <tr ng-repeat="team in accountCtrl.me.teams">
          <td><a ui-sref="showProposal({ id: team.proposal.id })">{{ team.proposal.title }}</a></td>
          <td class="text-nowrap text-right">{{ team.created_at }}</td>
        </tr>
      </tbody>
    </table>
    <p class="text-muted" ng-show="accountCtrl.me.teams.length == 0">
        Your have no applications.
    </p>

    <hr>
  </div>

  <h3>Your Proposals</h3>
  <table class="table table-striped" ng-show="accountCtrl.me.proposals.length > 0">
    <thead>
      <th>Title</th>
      <th class="text-right">Status</th>
      <th class="text-right">Created</th>
    </thead>
    <tbody>
      <tr ng-repeat="proposal in accountCtrl.me.proposals">
        <td><a ui-sref="showProposal({ id: proposal.id })">{{ proposal.title }}</a></td>
        <td class="proposal-status text-nowrap text-right">{{ accountCtrl.config.getProposalStatus(proposal.status) | capitalize}}</td>
        <td class="text-nowrap text-right">{{ proposal.created_at }}</td>
      </tr>
    </tbody>
  </table>
  <p class="text-muted" ng-show="accountCtrl.me.proposals.length == 0">
      Your have no proposals.
  </p>

  <hr>

  <h3>Your Projects</h3>
  <table class="table table-striped" ng-show="accountCtrl.me.projects.length > 0">
    <thead>
      <th>Title</th>
      <th class="text-nowrap text-right">Your Role</th>
      <th class="text-right">Status</th>
      <th class="text-right">Created</th>
    </thead>
    <tbody>
      <tr ng-repeat="project in accountCtrl.me.projects">
        <td><a ui-sref="showProject({ id: project.id })">{{ project.title }}</a></td>
        <td class="project-role text-right">{{ accountCtrl.config.getProjectRole(project.pivot.project_role_id) | capitalize }}</td>
        <td class="project-status text-nowrap text-right">{{ accountCtrl.config.getProjectStatus(project.status) | capitalize }}</td>
        <td class="text-right">{{ project.created_at }}</td>
      </tr>
    </tbody>
  </table>
  <p class="text-muted" ng-show="accountCtrl.me.projects.length == 0">
      Your have no projects.
  </p>

  <div class="hidden-sm hidden-md hidden-lg">
    <form ng-submit="accountCtrl.logout()"><button class="btn btn-danger btn-logout btn-block">Log out</button></form>
  </div>

</div>





