<div class="container">

  <div class="row about">
    <div class="col-md-6">
      <p>
      Track-It provides a service to manage multiple projects in connection to Malmö University. These projects are both bachelor's and master's theses, as well as course related project. Extern customers can upload proposals of projects that students can apply for. Students can apply to different projects that you have permission to access and you can also add other members so as to create a project.
      </p>
      </div>
      <div class="col-md-6">
      <p>
      The project is part of the proposals, to accept and categorize proposals for the development of an ongoing project. Track-It also provides a simple communication tool that is easy for students, teachers and external customers to discuss anything relating to the project or thesis. Track-It makes it easier for all concerned to join or start a project in any way, or just get inspiration and ideas for your studies. And at the end, you can inspire others with your ideas by publishing your finished project.
      </p>
    </div>
  </div>

  <div cass="row">
    <div class="col-md-4">
      <img src="/images/bild-grupp.jpg" class="img-thumbnail" alt="Projektbild">
    </div>
    <div class="col-md-4">
      <img src="/images/bild-grupp2.jpg" class="img-thumbnail" alt="Projektbild">
    </div>
    <div class="col-md-4">
      <img src="/images/bild-start.jpg" class="img-thumbnail" alt="Projektbild">
    </div>
  </div>

</div>
