<div class="container">
  <div class="row about">
    <div class="col-md-6">
      <h2>Welcome to TrackIt</h2>
      <p class="text-justify">
        TrackIt provides a simple service to manage projects in connection with Malmö University. These can be both bachelor's and master's theses, as well as course related projects. External customers can create and upload project proposals. These are then reviewed, categorized, and approved by teachers. Students can form teams and apply to approved proposals they are interested in working on. A teacher can then assign a team to a proposal, at which point it becomes an active project.
      </p>
    </div>
    <div class="col-md-6">
      <h2>Communication is key</h2>
      <p class="text-justify">
        TrackIt also provides a simple communication channel where students, teachers and external customers can discuss anything related to their projects and proposals.
      </p>
      <p class="text-justify">
        TrackIt makes it easier for all concerned to join or start a project in any way, or to just get inspiration and ideas for your studies. And in the end, you can inspire others with your ideas by publishing your finished project.
      </p>
    </div>
  </div>

  <div class="row hidden-xs">
    <div class="col-md-4">
      <img src="/images/bild-grupp.jpg" class="img-thumbnail" alt="Projektbild">
    </div>
    <div class="col-md-4">
      <img src="/images/bild-grupp2.jpg" class="img-thumbnail" alt="Projektbild">
    </div>
    <div class="col-md-4">
      <img src="/images/bild-start.jpg" class="img-thumbnail" alt="Projektbild">
    </div>
  </div>
</div>
