<div class="container">

  <div class="row about">
    <div class="col-md-6">
      <p>
      Track-It provides a service to manage multiple projects in connection to Malmö University. These projects are both bachelor's and master's theses, as well as course related projects. External customers can upload proposals for projects that students can apply for. These proposals are then reviewed and, if approved, categorized. Then students can form groups and apply to the proposals they are interested in working on. When a group of students have been assigned to a proposal, by a teacher, it goes from being a proposal to an active project.

      </p>
      </div>
      <div class="col-md-6">
      <p>
     Track-It also provides a simple communication tool that makes it easy for students, teachers and external customers to discuss anything related to the project or thesis.
    Track-It makes it easier for all concerned to join or start a project in any way, or just get inspiration and ideas for your studies. And at the end, you can inspire others with your ideas by publishing your finished project.
      </p>
    </div>
  </div>

  <div cass="row">
    <div class="col-md-4">
      <img src="/images/bild-grupp.jpg" class="img-thumbnail" alt="Projektbild">
    </div>
    <div class="col-md-4">
      <img src="/images/bild-grupp2.jpg" class="img-thumbnail" alt="Projektbild">
    </div>
    <div class="col-md-4">
      <img src="/images/bild-start.jpg" class="img-thumbnail" alt="Projektbild">
    </div>
  </div>

</div>
