<nav class="navbar">
    <!-- Logga -->
    <a href="index.html" class="navbar-brand">TrackIt</a>

    <!-- Meny objekt -->
    <div class="collapse navbar-collapse" id="mainNavbar">
      <ul class="nav navbar-nav">
        <li><a href="home.html">Start</a></li>
        <li class="active"><a href="xxx.html">XXX</a></li>
        <!-- Dropdownopdown Menyer-->
        <li class="dropdown">
          <a href="yyy.html" class="dropdown-toggle" data-toggle="dropdown">YYY <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="#">AAA</a></li>
            <li><a href="#">BBB</a></li>
            <li><a href="#">CCC</a></li>
          </ul>
        </li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">Om oss <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="#">ÄÄÄ</a></li>
            <li><a href="#">ÖÖÖ</a></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>

<!-- Huvudinnehåll -->

<div class="container">
  <div class="row">
    <div class="col-sm-6 col-md-4 col-sm-offset-3 col-md-offset-4">
      <h1 class="text-center login-title">Sign in to TrackIt</h1>
      <div class="account-wall">
        <form class="form-signin">
          <div class="form-group">
            <input type="text" class="form-control" placeholder="Email" required autofocus>
          </div>
          <div class="form-group">
            <input type="password" class="form-control" placeholder="Password" required>
          </div>
          <div class="form-group">
            <button class="btn btn-lg btn-primary btn-block" type="submit">
              Sign in
            </button>
          </div>
          <div class="form-group">
            <label class="checkbox pull-left">
              <input type="checkbox" value="remember-me">
              Remember me
            </label>
          </div>
          <a href="#" class="pull-right need-help">Need help? </a><span class="clearfix"></span>
        </form>
      </div>
      <a href="#" class="text-center new-account">Create an account </a>
    </div>
  </div>
</div>





