
			<nav class="navbar">
			<div class"jumbotron">
				<!-- Logga -->
					<a href="index.html" class="navbar-brand">TrackIt</a>
				</div>
				<!-- Meny objekt -->
				<div class="collapse navbar-collapse" id="mainNavbar">
					<ul class="nav navbar-nav">
						<li><a href="home.html">Start</a></li>
						<li class="active"><a href="xxx.html">XXX</a></li>
						<!-- Dropdownopdown Menyer-->
						<li class="dropdown">
							<a href="yyy.html" class="dropdown-toggle" data-toggle="dropdown">YYY <span class="caret"></span></a>
								<ul class="dropdown-menu">
									<li><a href="#">AAA</a></li>
									<li><a href="#">BBB</a></li>
									<li><a href="#">CCC</a></li>
								</ul>
						</li>
						<li class="dropdown">
							<a href="#" class="dropdown-toggle" data-toggle="dropdown">Om oss <span class="caret"></span></a>
								<ul class="dropdown-menu">
									<li><a href="#">ÄÄÄ</a></li>
									<li><a href="#">ÖÖÖ</a></li>
								</ul>
						</li>
					</ul>
				</div>
			</div>
		</nav>

	<!-- Huvudinnehåll -->
		<div class="container">
				<div class="well" id="search">
					<p>
						<h5>Seach:</h5>
							<p> Category:</p>
								<select id="restoptions">
								  <option value="1">Project</option>
								  <option value="2">Bachelor</option>
								  <option value="3">Master</option>
								</select>
							<p> Faculties:</p>
								<select id="restoptions">
								  <option value="1">Health and Society</option>
								  <option value="2">Culture and Society</option>
								  <option value="3">Education and Society</option>
								  <option value="4">Odontology</option>
								  <option value="5">Technology and Society</option>
								</select>
							</p>
							<button class="btn btn-default" type="button" id="button">Sök</button>
							<button class="btn btn-default" type="button" id="button">Avancerat sök</button>

							<h5> ____________________________ADVANCED SEARCH___________________________________</h5>

							<p> Program:</p>
								<select id="restoptions">
								  <option value="1">Information Architecture</option>
								  <option value="2">System Development</option>
								  <option value="3">Game Devolpment</option>
								  <option value="4"> Devolpment</option>
								  <option value="5"> Devolpment</option>
								  <option value="6"> Devolpment</option>
								</select>

							<p> Curs:</p>
								<select id="restoptions">
								  <option value="1">Information Architecture 1</option>
								  <option value="2">Information Architecture 2</option>
								  <option value="3">Interaction Design</option>
								  <option value="4">Interaction Design</option>
								  <option value="5">Interaction Design</option>
								  <option value="6">Interaction Design</option>
								  <option value="7">Interaction Design</option>
								  <option value="8">Interaction Design</option>
								  <option value="9">Interaction Design</option>
								  <option value="10">Interaction Design</option>
								  <option value="11">Interaction Design</option>
								  <option value="12">Interaction Design</option>
								  <option value="13">Interaction Design</option>
								  <option value="14">Interaction Design</option>
								  <option value="15">Interaction Design</option>
								</select>

					<div class="input-group">
						<input type="text" class="form-control" placeholder="Tagga nyckelord">
						<span class="input-group-btn">
							<button class="btn btn-default" type="button" id="button">Sök</button>

						</span>
					</div>
						</div>

