
			<nav class="navbar">
			<div class"jumbotron">
				<!-- Logga -->
					<a href="index.html" class="navbar-brand">TrackIt</a>
				</div>
				<!-- Meny objekt -->
				<div class="collapse navbar-collapse" id="mainNavbar">
					<ul class="nav navbar-nav">
						<li><a href="home.html">Start</a></li>
						<li class="active"><a href="xxx.html">XXX</a></li>
						<!-- Dropdownopdown Menyer-->
						<li class="dropdown">
							<a class="active" href="yyy.html" class="dropdown-toggle" data-toggle="dropdown">YYY <span class="caret"></span></a>
								<ul class="dropdown-menu">
									<li><a href="#">AAA</a></li>
									<li><a href="#">BBB</a></li>
									<li><a href="#">CCC</a></li>
								</ul>
						</li>
						<li class="dropdown">
							<a href="#" class="dropdown-toggle" data-toggle="dropdown">Om oss <span class="caret"></span></a>
								<ul class="dropdown-menu">
									<li><a href="#">ÄÄÄ</a></li>
									<li><a href="#">ÖÖÖ</a></li>
								</ul>
						</li>
					</ul>
				</div>
			</div>
		</nav>

		<!-- Huvudinnehåll -->
		<div class="container">
			<div class="well" id="first">
					<h1 id="intro">INFO INFO INFO</h1>
					<p id="subintro">
					"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit."
					</p>
			</div>

		<div class="well" id="first">
					<div class="form-group">
  					<label for="usr">Title:</label>
  					<input type="text" class="form-control" id="title">
					</div>

					<p> Category:</p>
						<select id="restoptions">
						<option value="1">Project</option>
						<option value="2">Bachelor</option>
						<option value="3">Master</option>
						</select>

					<div class="form-group">
  					<label for="usr">Tags:</label>
  					<input type="text" class="form-control" id="tags">
					</div>

					<div class="form-group">
  					<label for="comment">Description:</label>
  					<textarea class="form-control" rows="5" id="description"></textarea>
					</div>

					<p> File:</p> <button type="button" class="btn btn-default">Upload</button>
			</div>
